.custom-fees-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-width: 130px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var(--color-table-text-default);

    &__value,
    &__title {
        white-space: nowrap;
        padding: 0;
    }

    &__value {
        margin-left: 4px;
        font-weight: 600;
    }

    &__details {
        padding: 6px 10px;
    }

    &__fee {
        display: flex;
        width: fit-content;

        &--warning {
            color: var(--color-warning);
        }
    }
}
