@import 'src/pages/breakpoints';

.order-BOL-header-buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;

    &__text::before {
        @include breakpoint(0, $tablet-max-width) {
            content: attr(data-short-title);
        }

        @include breakpoint($desktop-min-width) {
            content: attr(data-title);
        }
    }
}
