.password-reset-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    padding: 12px 12px 40px 12px;
    box-sizing: border-box;

    .alert-block {
        width: 394px;
    }

    form {
        width: 389px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        .form-control {
            gap: 6px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 32px;
        flex: 1 1;
        justify-content: center;
        align-items: center;
    }

    &__sign-in-page-button {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__sign-up-block {
        position: absolute;
        bottom: 40px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        color: var(--color-text-light);
    }

    &__success-alert-container {
        margin-bottom: 32px;
    }
}
