.sign-in-form {
    max-width: 389px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 44px;
    flex: 1;
    justify-content: center;

    .form-control {
        gap: 6px;

        .input-label {
            line-height: 18px;
        }
    }

    &__form-content {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__forgot-password-link {
        display: block;
        text-align: right;
        margin-top: 8px;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
    }

    &__button-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
