.chat-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-white);
    height: 100%;
    min-width: 300px;

    &--border {
        border-radius: 8px;
    }

    &--mode-drawer {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.078);
    }

    &__messages {
        display: flex;
        flex: 1 1;
        border-bottom: 1px solid var(--color-table-border);
        flex-direction: column;
        padding: 0 16px;
        overflow: auto;

        .chat-message-wrapper__content {
            width: 100%;

            .chat-message-content {
                min-width: 190px;
                max-width: 360px;
            }
        }
    }
}
