.job-offer-actions-info {
    display: flex;
    flex-direction: column;
    gap: 6px;

    &__meta {
        color: var(--color-input-text-secondary);
        font-size: 14px;
        line-height: 20px;
    }

    strong:hover {
        color: var(--color-primary);
        text-decoration: underline;
        cursor: pointer;
    }
}
