NODE_COMMAND="npm i && npm run-script start:dev"

MAPBOX_TOKEN=pk.eyJ1IjoidmFkaW0tZmVkb3JvdmljaCIsImEiOiJjbGxrdWMxNzAwNWR6M3Bxc2h2cWJ4cmp3In0.qz_jMJhUBm7_4sGkjXNK3Q

# PROJECT_NAME can be 'ushipper' or 'freightx'
PROJECT_NAME=ushipper

PUSHER_HOST=api.ushipper.generals-soft.com
PUSHER_APP_KEY=ushipper
PUSHER_PORT=30023
PUSHER_APP_CLUSTER=mt1
PUSHER_SCHEME=https

# Sentry DSN (set this in the actual .env file for production)
SENTRY_DSN= # Add your Sentry DSN here