@import 'src/pages/breakpoints';

.preferences-page {
    display: flex;
    gap: 24px;

    & > * {
        flex: 1;
    }

    @include breakpoint(0, 1496px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
