.assign-user-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__content {
        display: flex;
        gap: 12px;
    }
    &__name {
        font-size: 16px;
        font-weight: 700;
        line-height: 18px;
    }
    &__role {
        font-size: 12px;
        font-weight: 600;
        line-height: 14px;
        color: var(--color-input-text-secondary);
        margin-top: 4px;
    }
    &__paper--assigned {
        background-color: var(--color-primary) !important;
        border: 2px solid white;
    }
    &--assigned {
        background-color: var(--color-primary);

        .assign-user-item__name,
        .assign-user-item__role {
            color: white;
        }
    }
}
