.car-makers-page {
    &__head {
        display: flex;
        align-items: center;

        & > * {
            margin-left: 8px;
        }

        .input {
            height: 36px;
        }

        button {
            svg {
                margin-right: 6px;
            }
        }
    }
}
