$header-height: 64px;
$padding-size: 24px;

.accounting-page-layout {
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-height: calc(100vh - $header-height - $padding-size * 2);

    .empty-layout {
        min-height: 700px;
    }
}
