.accounting-info-row {
    &__row {
        span:first-child {
            margin-right: 4px;
        }
    }

    &__key {
        font-size: 14px;
        font-weight: 600;
        color: var(--color-input-text-secondary);
    }

    &__value {
        font-size: 14px;
        font-weight: 400;
        color: var(--color-input-text-secondary);
    }
}
