$icon-size: 16px;

.driver-details-wrapper {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: var(--color-text-default);
    padding: 10px 12px;
    display: flex;
    gap: 4px;

    &__icon {
        margin-top: 2px;
        display: flex;
        flex-shrink: 0;
        width: $icon-size;
        height: $icon-size;
        align-items: center;
        justify-content: center;
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__value {
        color: var(--color-misty-silver);
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
    }
}
