.order-expense-drawer {
    &__form {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &-row {
            display: flex;
            gap: 16px;

            & > * {
                flex: 1;
            }
        }
    }
}
