.alert-block {
    display: flex;
    background: #ecf8ff;
    border-radius: 4px;
    overflow: hidden;

    &--view-warning {
        background: #fff9e4;
    }

    &--view-danger {
        background: #fff6f7;
    }

    &--view-success {
        background: #f2f9ec;
    }

    &--view-canceled {
        background: var(--color-input-background-disabled);
    }

    &--view-disabled {
        background: #e8e8ea;
    }

    &--view-plain {
        background: #cce5ff;
    }

    &__line {
        width: 6px;
        background: #53bffc;

        .alert-block--view-warning & {
            background: #ebb563;
        }

        .alert-block--view-danger & {
            background: #fc6c71;
        }

        .alert-block--view-success & {
            background: #7fbf51;
        }

        .alert-block--view-canceled & {
            background: var(--color-table-text-default);
        }

        .alert-block--view-disabled & {
            background: #c7c7cf;
        }

        .alert-block--view-plain & {
            background: #76b8ff;
        }
    }

    &__content {
        padding: 16px;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        box-sizing: border-box;
        color: var(--color-table-text-default);
        flex: 1;
    }
}
