@import 'src/pages/breakpoints';

.shipper-tracking-order-paper {
    position: absolute;
    width: 70%;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid var(--color-primary);
    z-index: 4;

    &__body {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        color: var(--color-text-default);
    }

    &__no-padding.paper__body {
        padding: 0;
    }

    &__row {
        display: grid;
        grid-template-columns: 3fr 4fr;
        gap: 44px;

        &--flex {
            display: flex;
            justify-content: space-between;
        }
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        font-size: 18px;
        font-weight: 600;
        line-height: 20px;

        p {
            text-wrap: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            -webkit-font-smoothing: antialiased;

            @include breakpoint($tablet-max-width, $extra-large-desktop-min-width) {
                max-width: 210px;
            }
        }
    }

    &__price {
        align-self: center;
        font-size: 20px;
        font-weight: 600;
        line-height: 22px;
        margin-left: auto;
    }

    &__details {
        width: 210px;
        display: flex;
        gap: 12px 16px;
        flex-wrap: wrap;
    }

    &__actions {
        display: flex;
        align-items: flex-end;
        gap: 8px;
    }

    &__value {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 14px;
        font-weight: 500;
        color: var(--color-text-secondary);
        text-wrap: nowrap;

        svg {
            width: 20px;
            height: 20px;
        }
    }
}

@include breakpoint(0, $tablet-max-width) {
    .shipper-tracking-order-paper {
        &__body {
            gap: 6px;
        }

        &__row {
            display: flex;
            flex-direction: column;
            gap: 6px;

            &--flex {
                flex-direction: row;
            }
        }

        &__details {
            gap: 6px;
            flex-wrap: nowrap;
        }

        .accordion__body--on-top {
            bottom: calc(100% + 60px) !important;
        }
    }
}
