.driver-orders-accordion {
    &__content {
        border-radius: 8px;

        .accordion__body-margin {
            padding: 0;
        }

        .accordion--open & {
            &-map {
                position: relative;
                height: 590px;

                .mapboxgl-map {
                    border-radius: 0 0 8px 8px;
                }
            }

            &-details {
                display: flex;
            }
        }
    }

    .popup__container {
        background-color: rgba(0, 0, 0, 0.2);
    }
}