@import 'src/pages/breakpoints';

.vehicles-paper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: var(--color-input-background-disabled);
    border-radius: 8px;
    padding: 16px;

    @include breakpoint(0, $tablet-portrait-max-width) {
        background-color: var(--color-white);
        padding: 0;

        .vehicle-item__actions {
            align-self: center;
        }
    }

    &__header {
        text-align: left;
        color: var(--color-table-text-default);
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 4px;
        padding: 12px;
        gap: 16px;
        background-color: var(--color-white);
    }

    &__vehicles-title {
        display: flex;
        gap: 8px;
        align-items: center;
    }

    &__counter {
        font-weight: 600;
        font-size: 10px;
        line-height: 14px;
    }
}