.item-field {
    display: flex;
    gap: 4px;
    align-items: flex-start;
    color: var(--color-table-text-default);
    font-size: 14px;
    line-height: 20px;

    &__icon {
        display: flex;
        align-items: center;
        height: 20px;
        width: 12px;
        flex-shrink: 0;

        svg {
            $size: 12px;

            width: $size;
            height: $size;
        }
    }
}
