.timeline-dot {
    box-sizing: border-box;
    border: 2px solid var(--color-border-default);
    border-radius: 50%;
    background: var(--color-white);
    flex-shrink: 0;

    &--size-mini {
        $size: 12px;

        width: $size;
        height: $size;
    }

    &--size-default {
        $size: 20px;

        width: $size;
        height: $size;
    }

    &--view-primary,
    &--view-accepted,
    &--view-new {
        border-color: var(--color-primary);
        background-color: var(--color-primary);
    }

    &--view-success,
    &--view-delivered {
        border-color: var(--color-success);
        background-color: var(--color-success);
    }

    &--view-warning,
    &--view-picked-up {
        border-color: var(--color-warning);
        background-color: var(--color-warning);
    }

    &--view-order-created {
        border-color: var(--color-primary);
        border-width: 4px;
    }

    &--view-order-picked-up {
        border-color: var(--color-warning);
        border-width: 4px;
    }

    &--view-order-delivered {
        border-color: var(--color-success);
        border-width: 4px;
    }

    &--view-gray {
        border-color: var(--color-text-secondary);
        border-width: 2px;
    }

    &--view-primary-green {
        border-color: var(--color-primary-green);
        background-color: var(--color-primary-green);
    }

    &--withoutBackground {
        background: var(--color-white);
    }
}
