.rocketkor-base-document-item {
    border: 1px solid var(--color-table-border);
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 6px;

    .attachments-info__file {
        width: fit-content;
    }
    &__header {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        font-size: 16px;
        font-weight: 700;
    }
    &__actions {
        display: flex;
        gap: 6px;
    }
}
