.order-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    border: 1px solid var(--color-table-border);
    border-radius: 8px;
    box-sizing: border-box;

    &__header {
        display: flex;
        gap: 12px;
        align-items: center;
        flex-wrap: wrap;
    }

    &__order-id {
        color: var(--color-text-default);
        font-size: 16px;
        font-weight: 700;
        line-height: 18px;
    }

    &__commodities,
    &__vehicles {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__vehicles {
        & > * {
            color: var(--color-table-text-default);
            font-size: 14px;
            line-height: 20px;
            font-weight: 600;
        }
    }
}
