.helper-text {
    font-size: 12px;
    color: var(--color-info);
    line-height: 14px;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}
