.parsed-loadboard-item-right-block {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: flex-end;
    gap: 6px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__buttons {
        display: flex;
        gap: 6px;
        justify-content: flex-end;
    }

    &__actions {
        padding: 8px;

        svg {
            width: 15px;
            height: 15px;
        }
    }

    &__time,
    &__request {
        font-size: 12px;
        line-height: 14px;
        display: flex;
        justify-content: flex-end;
    }

    &__time {
        color: var(--color-table-text-default);
        font-weight: 400;
    }

    &__request {
        color: var(--color-warning);
        font-weight: 600;
    }

    &__checked {
        align-self: flex-start;
    }

    &__found {
        color: var(--color-success);
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;
    }
}
