.password-field {
    .input-adornment__wrapper {
        padding-right: 12px;
    }

    &__end-adornment {
        display: flex;
        cursor: pointer;
        color: var(--color-table-text-default);

        svg {
            $size: 16px;

            width: $size;
            height: $size;
        }

        &:hover {
            color: var(--color-primary);
        }
    }
}
