.business-info {
    &__body {
        padding: 24px 16px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .form-control {
            gap: 6px;
        }
    }

    &__fields-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
}
