.company-type-address {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--color-misty-silver);

    svg {
        $size: 16px;

        width: $size;
        height: $size;
    }

    &__address {
        display: flex;
        align-items: center;
        gap: 4px;
    }
}
