.admin-orders-filters {
    &__form {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 12px;

        &--short {
            grid-template-columns: repeat(4, 1fr);

        }
    }

    .paper__body {
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        min-width: 0;
    }
}
