.driver-accounts-select {
    &__loading {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        height: 40px;
        border: 1px solid var(--color-border-default);
        border-radius: 4px;
        padding: 0 12px;
    }
}
