/* stylelint-disable block-no-empty */
.string-input {
    width: 100%;

    &__label {
        width: 100%;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: var(--color-text-header);
        margin-bottom: 6px;
        display: block;

        &-required {
            color: var(--color-danger);
        }
    }

    &__textarea-input {
        height: 100px;
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        box-sizing: border-box;
        font-family: 'Open Sans', sans-serif;
        padding: 12px;
        border: 1px solid var(--color-button-border-default);
        border-radius: 4px;
        transition: border 0.3s;
        color: var(--color-button-text-default);

        &--disabled {
            background-color: var(--color-input-background-disabled);
        }

        &:focus {
            outline: none;
        }

        &:hover:not(&--warning, &--disabled) {
            border: 1px solid var(--color-input-border-hover);
        }

        &:focus:not(&--warning) {
            border: 1px solid var(--color-primary);
        }

        &--warning {
            border: 1px solid var(--color-danger);
        }

        &::placeholder {
            color: var(--color-input-placeholder);
        }
    }

    &__input {
        &--disabled {
            background-color: var(--color-input-background-disabled);
        }
    }

    &__help {
        font-weight: 600;
        width: 100%;
        font-size: 12px;
        line-height: 14px;
        margin-top: 4px;
        color: var(--color-table-text-default);

        &--warning {
            color: var(--color-danger);
        }
    }
}
