.back-link {
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--color-text-default);
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: var(--color-primary);
    }

    svg {
        $size: 24px;

        width: $size;
        height: $size;
        flex-shrink: 0;
    }
}
