:root {
    --text-default: #172b4d;
    --color-border-default: #dcdfe6;
    --color-red: #eb5757;
    --color-white: #fff;
    --color-ghost-white: #f8fbff;
    --color-black: #000;
    --color-dark: #0f0e15;
    --color-success: #67c23a;
    --color-danger: #f56c6c;
    --color-danger-hover: #f78989;
    --color-danger-focus: #dd6161;
    --color-info: #909399;
    --color-warning: #e6a23c;
    --color-primary: #409eff;
    --color-primary-green: #00a28a;
    --color-primary-green-hover: #28b7a1;
    --color-primary-green-focus: #017a68;
    --color-primary-green-disabled: #017a68;
    --color-primary-button-background-plain: #ecf5ff;
    --color-input-placeholder: #c1c4cb;
    --color-input-border-hover: #c0c4cc;
    --color-input-background-secondary: #e9edf1;
    --color-input-background-dark: #282828;
    --color-input-background-dark-blue: #1d1a28;
    --color-input-text-secondary: #5e6d82;
    --color-input-placeholder-secondary: #a1a5b7;
    --color-input-border-focused-secondary: #a4aab7;
    --color-button-border-default: #dcdfe6;
    --color-warning-button-plain-border-disabled: #faecd8;
    --color-warning-button-plain-backgound-disabled: #fdf6ec;
    --color-danger-button-plain-background: #fef0f0;
    --color-danger-button-plain-border-disabled: #fde2e2;
    --color-input-background-disabled: #f5f7fa;
    --color-table-border: #ebeef5;
    --color-table-text-default: #5e6d82;
    --color-text-default: #181c32;
    --color-text-light: #a1a5b7;
    --color-text-header: #1f2f3d;
    --color-text-success: #7fbf51;
    --color-text-dark: #b1b1b1;
    --color-text-secondary: #95959f;
    --color-text-primary: #060e2d;
    --color-dark-border: #292535;
    --color-tag-border-default: #e9e9eb;
    --color-tag-border-success: #e4f2da;
    --color-tag-background-default: #f4f4f5;
    --color-tag-background-success: #f2f9ec;
    --color-tag-background-on-hold: #c4c4c4;
    --color-tag-background-pending: #9f40ff;
    --color-tag-background-accepted: #7a7a7a;
    --color-button-text-default: #606266;
    --color-text-muted: #bdbdbd;
    --color-internal-note-background: #eaf4ff;
    --color-space-cadet: #172b4d;
    --color-silver-sand: #c4c4c4;
    --color-lavender-indigo: #9f40ff;
    --color-sonic-silver: #7a7a7a;
    --color-lavender-blue: #bcd3f9;
    --color-page-background: #e9edf1;
    --color-brilliant-azure: #2c90f9;
    --color-blue-crayola: #187bed;
    --color-tracking-search-input-text: #3c3c4399;
    --color-primary-button-border-plain: #b3d8ff;
    --color-tracking-search-input-buttons: #3c3c434d;
    --color-primary-button-background-hover: #66b1ff;
    --color-primary-button-background-focused: #3a8ee6;
    --color-dark-gunmetal: #181c32;
    --color-loadboard-item-tagged: #fff2dd;
    --color-maize: #f2c94c;
    --color-golden-sunrise: #f1bc00;
    --color-golden-rod:  #f2cc40;
    --color-soft-cream: #fff8dd;
    --color-graphite-gray: #3f4254;
    --color-misty-silver: #b5b5c3;
    --color-morning-mist: #f5f8fa;
    --color-pale-blue: #f1faff;
    --color-bar-outer: #ebedf3;
    --color-done-label: #50cd89;
    --color-error-label: #f1416c;
    --color-done-background: #e8fff3;
    --color-error-background: #fff5f8;
    --color-panel-highlighted: #f3f6fb;
    --color-border-dark: #444348;
    --color-circle-button-hover: #0b3434;
    --color-circle-button-focus: #00a28a;
    --color-button-dark: #313338;
    --color-lemon: #f5bf00;
    --color-sapphire: #4e75ff;
}
