@font-face {
    font-weight: 300;
    font-family: 'Open Sans';
    font-style: normal;
    src: url('/public/fonts/OpenSans/OpenSans-Light.ttf');
}

@font-face {
    font-weight: 400;
    font-family: 'Open Sans';
    font-style: normal;
    src: url('/public/fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
    font-weight: 500;
    font-family: 'Open Sans';
    font-style: normal;
    src: url('/public/fonts/OpenSans/OpenSans-Medium.ttf');
}

@font-face {
    font-weight: 600;
    font-family: 'Open Sans';
    font-style: normal;
    src: url('/public/fonts/OpenSans/OpenSans-SemiBold.ttf');
}

@font-face {
    font-weight: 700;
    font-family: 'Open Sans';
    font-style: normal;
    src: url('/public/fonts/OpenSans/OpenSans-Bold.ttf');
}

@font-face {
    font-weight: 800;
    font-family: 'Open Sans';
    font-style: normal;
    src: url('/public/fonts/OpenSans/OpenSans-ExtraBold.ttf');
}
