.driver-info-paper {
    position: absolute;
    max-width: 290px;
    min-width: 250px;
    border: 1px solid var(--color-primary);
    border-radius: 12px;
    transform: translate(12%, -18%);
    z-index: 4;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;

    .paper {
        border-radius: 12px;
    }

    .shipper-tracking-order-tag {
        border-width: 0;
        border-radius: 31px;
    }

    .active-request-timeline-price {
        padding-left: 0;
    }

    &--danger {
        border-color: var(--color-danger);
    }

    &__row {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        &--personal {
            gap: 12px;
            align-items: flex-end;
        }

        &--name,
        &--rating {
            gap: 4px;
        }

        &--name {
            h4 {
                flex-grow: 1;
                font-weight: 700;
                font-size: 18px;
                line-height: 20px;
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: break-word;
                line-clamp: 2;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }

            svg {
                flex-shrink: 0;
                align-self: flex-start;
                color: var(--color-primary);
                fill: var(--color-primary);
                margin-top: 2px;
                width: 16px;
                height: 16px;
            }
        }

        &--rating {
            .rating__empty-star,
            .rating__filled-star {
                color: var(--color-text-primary);
                fill: transparent;
            }

            span {
                color: var(--color-primary);
            }
        }

        &--actions {
            gap: 8px;
            justify-content: space-between;
        }

        &--empty {
            justify-content: center;
            min-height: 220px;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &--user {
            gap: 4px;
        }

        &--counters {
            gap: 8px;

            .rating-bar__outer {
                max-width: 100%;
            }
        }
    }

    &__avatar {
        $size: 60px !important;

        width: $size;
        height: $size;
        border-radius: 12px !important;
        align-self: center;
    }
}
