.messages-page-head {
    display: flex;
    align-items: center;
    gap: 24px;

    &__title {
        display: flex;
        align-items: center;
        gap: 6px;

        &--admin {
            flex-direction: column;
            align-items: unset;
            gap: unset;
        }
    }

    &__actions {
        display: flex;

        &--carrier {
            gap: 24px;
        }

        &--admin {
            align-items: center;
            gap: 12px;
        }
    }

    &__icon {
        position: relative;
        display: flex;
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: var(--color-primary-green);

        svg {
            width: 20px;
            height: 20px;
        }

        .choose-phone-popup {
            left: 0;
            top: 26px;
        }

        &:hover {
            color: var(--color-primary);
        }
    }

    &__twilio-phone {
        color: var(--color-table-text-default);
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;

        &--admin {
            color: var(--color-text-light);
            font-size: 12px;
            line-height: 14px;
        }
    }
}
