.roles-page {
    display: flex;
    gap: 24px;

    &__head {
        display: flex;
        align-items: center;
        gap: 8px;

        button {
            display: flex;
            gap: 6px;
        }
    }
}
