.order-information-list {
    display: flex;
    flex-direction: column;
    gap: 6px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__title {
        text-transform: uppercase;
        font-size: 12px;
        line-height: 16px;
        font-weight: 700;
        color: var(--color-table-text-default);
    }
}
