.staff-filters {
    display: flex;
    gap: 12px;
    margin-bottom: 24px;
    background: #fff;
    box-shadow: 0 4px 8px rgb(0 0 0 / 8%);
    border-radius: 8px;
    padding: 24px;

    & > * {
        flex: 1;
    }
}
