.password-recovery-page {
    color: var(--color-text-default);

    &__form-title,
    &__form-description {
        text-align: center;
        font-weight: 700;
    }

    &__form-title {
        font-size: 24px;
    }

    &__form-email-field,
    &__button-container,
    &__sign-in-link-container,
    &__sign-in-button-link {
        margin-top: 24px;
    }

    &__form-description {
        color: var(--color-text-light);
        font-size: 18px;
        margin-bottom: 24px;
    }

    &__button-container {
        display: flex;
        justify-content: center;
    }

    &__sign-in-link-container {
        text-align: center;
    }

    &__sign-in-button-link {
        display: flex;
        justify-content: center;

        button {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
}
